.post-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 980px;
}

.full-width {
  width: 100%;
}

/* FLEX PROPERTIES */
.row {
  display: flex;
  flex-direction: row;
  gap: 20px; // use gap for spacing between columns
}

.col {
  flex: 1;
  margin-right: 0;
}

.card-actions button {
  margin: 0.5rem;
}

// responsive design for small screens
@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .col {
    margin-bottom: 1rem;
  }
}
