@use '../../../styles/helpers/constants';

.home-page-container {
  max-width: constants.$max-width;
  margin: auto;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.main-content {
  flex-basis: 70%;
  max-width: 70%;
  margin-right: 2rem;
}

.side-content {
  flex-basis: 30%;
  max-width: 30%;
  padding: 1rem;
}
