<nav class="navbar-container" role="navigation" aria-label="Main Navigation">
  <div class="navbar-content">
    <!-- app logo -->
    <a routerLink="/" mat-icon-button aria-label="Learning Angular Material">
      <app-logo></app-logo>
    </a>

    <!-- app title -->
    <span class="title">Learning Angular Material</span>

    <span class="flex-spacer"></span>

    <button
      mat-icon-button
      class="icon"
      [matMenuTriggerFor]="menu"
      aria-label="Open navigation menu">
      <mat-icon>person</mat-icon>
    </button>

    <!-- draft nav menu for testing each page -->
    <mat-menu #menu="matMenu">
      <a
        mat-menu-item
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home Page</a
      >
      <a mat-menu-item routerLink="/about" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>About Page</span>
      </a>
      <a mat-menu-item routerLink="/admin" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Admin Page</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-menu-item routerLink="/albums/create">Create Album</a>
      <a mat-menu-item routerLink="/heroes/create">Create Hero</a>
      <a mat-menu-item routerLink="/posts/create">Create Post</a>
      <mat-divider></mat-divider>
      <a mat-menu-item routerLink="/signin">Sign In Page</a>
      <a mat-menu-item routerLink="/signup">Sign Up Page</a>
    </mat-menu>
  </div>
</nav>
