:host {
  display: block;
}

.post-details-card {
  height: 100%;

  // controls the card header title
  mat-card-title {
    font-size: 0.9rem;
    color: var(--mat-sys-primary);
  }
}

// controls the matListItemTitle
[matListItemTitle] {
  font-size: 0.8rem;
  color: var(--mat-sys-primary);
}

// controls the matListItemLine
[matListItemLine] {
  font-size: 0.8rem;
}

