.announcement-bar {
  background: var(--mat-sys-error-container);
  color: var(--mat-sys-on-error-container);
  font: var(--mat-sys-label-large);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 3rem;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
}

@media (max-width: 600px) {
  .announcement-bar {
    flex-direction: column; // stack content vertically on small screens
    justify-content: center; // center content vertically when stacked
    padding: 1rem; // increase padding on very small screens
    min-height: auto; // allow height to adjust to content when stacked
  }
}
