@use 'variables';

.about-page-container {
  max-width: variables.$max-width;
  margin: auto;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding: 0 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0 1rem;
  }
}

.main-content {
  flex-basis: variables.$main-content-flex-basis;
  max-width: variables.$main-content-max-width;

  @media (max-width: 768px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.side-content {
  flex-basis: variables.$side-content-flex-basis;
  max-width: variables.$side-content-max-width;

  @media (max-width: 768px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}
