@use '../../../styles/helpers/constants';

.about-page-container {
  max-width: constants.$max-width;
  margin: auto;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.main-content {
  flex-basis: constants.$main-content-flex-basis;
  max-width: constants.$main-content-max-width;
}

.side-content {
  flex-basis: constants.$side-content-flex-basis;
  max-width: constants.$side-content-max-width;
}
