.post-card {
  width: 100%;
  margin: 1rem;
}

// during loading of posts
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh; // adjust as needed
  width: 100%;
}

// when no posts are found
.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh; // adjust as needed
  width: 100%;
  text-align: center;
}
